@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

@media (max-width: 400px) {
  .sliderImage {
    width: 100%;
    height: auto;
  }
  .textColumn {
    width: 100%;
  }
}
@media (min-width: 401px) {
  .sliderImage {
    width: 100%;
    height: auto;
  }
  .textColumn {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 800px;
    font-size: 13px;
  }
}
.top-bar{
  background-color: #eeeeee !important;
}
.name{
  padding-left: 10px;
  background-color: #eeeeee !important;
  font-size: 26px !important;
  padding-right: 20px;
}


.top-bar-section {
  background: #eeeeee !important;
  background-color: #eeeeee !important;
  color: #0078a0;
}
.top-bar-section ul {
  background: #eeeeee !important;
  background-color: #eeeeee !important;
  color: #0078a0;
}


.top-bar-section ul li a{
  background: #eeeeee !important;
  background-color: #eeeeee !important;
  color: #0078a0;
}
.top-bar-section ul li a:hover{
  background: #0078a0 !important;
  background-color: #0078a0 !important;
  color: #ffffff;
}
.top-bar-section ul li {
  background: #eeeeee !important;
  background-color: #eeeeee !important;
  color: #0078a0;
}

body{
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  background-color: white !important;
}
body p{
  font-size: 14px;
}

.Content
{
    display: inline-block;
    vertical-align: middle;
  color: #ffffff;
}

#carousel{
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  background-color: #555555;
  width: 100%;
  max-width: 800px;
}

.slick-slide {
  height: auto !important;
}
.content{
  color: white;
}
.content p{
  font-size: 13px !important;
}
.content h2{
  color: white;
}
.content > img{
  margin: auto; 
}
.centercolumn{
  width: 100%;
  margin: 0;
  padding: 30px;
  background-color: #555555;
  style="text-align: center";
}
.slick-track {
  margin: 0 auto;
}

.c3-gauge-value{
  font-size: 20px !important;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  fill: #ffffff !important;
}
.top-bar .toggle-topbar.menu-icon a {
    background-color: #666666;
}  

.bar {
  fill: steelblue;
}
.c3-axis {
  fill: #ffffff;
}
.c3-axis line{
  stroke: #ffffff !important;
}
.c3-axis path{
  stroke: #ffffff !important;
}